  <section>
    <article>
      <div>
        <div class="content">
          <h1>About the competition</h1>
          <p>Each round of the competition requires the candidate to explore and communicate what they care about, why they care and how they plan to make a difference if empowered financially.</p>
          <p>Applicant entry fees create a pool of money which  is invested and managed to never be spent down (similar to an endowment).</p>
          <%= link_to 'Learn more', 'competition-details' %>
          <!-- <a class="more" href="competition-details.html#about-the-competition">Learn more</a> -->
        </div>
        <div class="images">
          <div><div><%= image_tag "work.jpg" %></div></div>
          <div><div><%= image_tag "bridge.jpg" %></div></div>
          <span class="caption">Click <a href="#">BECOME A HERO</a> above to enter</span>
        </div>
      </div>
    </article>
    <div class="border"></div>
    <article>
      <div>
        <div class="content">
          <h1>The selection process</h1>
          <p>The selection process occurs throughout the course of the competition over three rounds. During each round a judge is assigned to candidates. The submission of the candidate is scored during each round and feedback is provided by a judge. Candidates are eliminated after each round and one winner is chosen.</p>
          <%= link_to 'Learn more', 'competition-details' %>
          <!-- <a class="more" href="competition-details.html#the-selection-process">Learn more</a> -->
        </div>
        <div class="images">
          <div><div><%= image_tag "charity.jpg" %></div></div>
          <span class="caption">Applicant entry fees create a pool of money which  is invested and managed to never be spent down (similar to an endowment).</span>
        </div>
      </div>
    </article>
    <div class="border"></div>
    <article>
      <div>
        <div class="content">
          <h1>Contest entry criteria</h1>
          <ul>
            <li>Entrants can be any age</li>
            <li>Any entrant below the age of 18 must have a guardian to participate.</li>
            <li>Click any of one the "Enter The Contest" links.</li>
          </ul>
          <%= link_to 'Learn more', 'competition-details' %>
          <!-- <a class="more" href="competition-details.html#entry-criteria">Learn more</a> -->
        </div>
        <div class="images">
          <div><div><%= image_tag "mountian.jpg" %></div></div>
          <div><div><%= image_tag "water.jpg" %></div></div>
          <span class="caption">Three rounds, one winner, life long impact.</span>
        </div>
      </div>
    </article>
    <div class="border"></div>
  </section>
